
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  overflow-x: hidden;
  width: 100%;
}

html{
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  scroll-behavior: smooth;
}
:root {
  --color-primiry: #ffffff;
  --color-text: #808080;
  --text-heading:#b2910e;
  --red-light:rgb(171 25 14);
}
ul{
  list-style-type: none;
}
a{
  color: unset;
  text-decoration: none;
}
img{
  width: 100%;
}